@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    scrollbar-width: thin; 
    scrollbar-color: #e29a4e black; 
  }
  
  html::-webkit-scrollbar {
    width: 10px;
  }
  
  html::-webkit-scrollbar-track {
    background: black; 
    border-radius: 10px;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #e29a4e;
    border-radius: 10px;
    border: 2px solid black;
  }
  
  html::-webkit-scrollbar-thumb:hover {
    background: #ff8800; 
  }
 
  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url('/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fadeInBg 0.5s ease-in-out forwards;
    z-index: -10;
  }
  
  @keyframes fadeInBg {
    to {
      opacity: 1;
    }
  }

